ch03 데이터 구조

- 리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1. 리스트
## 1.1 리스트 만들기
    - [] 이용
    - 인덱스 : 0부터 시작. -1은 맨 마지막 인덱스
    - 슬라이싱 : [from:to:stop]을 이용해 추출

In [1]:
fruits = ['banana','apple','orange','grape',0]
type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape', 0]

In [4]:
print(fruits[2])

orange

In [5]:
fruits[1]= 'mango'
print(fruits[1])

mango

In [8]:
for fruit in fruits:
    print(fruit)

banana
mango
orange
grape
0

In [12]:
#인덱스가 필요할 때
for i in range(5): 
    print("{}번째 과일은 {}".format(i,fruits[i]))
#for문 안에 들어갈 때 range()는 자동으로 리스트로 작동한다.
#range 자리에는 꼭 리스트 타입의 데이터가 와야한다.
#index랑 데이터를 필요로 할 때 enumerate를 사용한다.

0번째 과일은 banana
1번째 과일은 mango
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [11]:
range(5)

range(0, 5)

In [13]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [15]:
len(fruits) # lits fruits 요소의 갯수

5

In [16]:
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i,fruits[i]))

0번째 과일은 banana
1번째 과일은 mango
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [19]:
for idx, value in enumerate(fruits):
    
    print("{}번째 과일은 {}".format(idx,value))

0번째 과일은 banana
1번째 과일은 mango
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

## 1.2 기본정보 조회

In [23]:
numbers = [1,2,3,4,5]
print("요소의 수 :",len(numbers))
print("최소값 :",min(numbers))
print("최대값 :",max(numbers))

요소의 수 : 5
최소값 : 1
최대값 : 5

## 1.3 정보 추가

In [25]:
#두 리스트를 연결
# 리스트*n : 리스트를 n만큼 반복
# append() : 요소 뒤에 추가
# extend : 리스트에 요소별로 뒤에 추가

In [28]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [29]:
numbers = [1,2,3]
print(numbers*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [37]:
numbers.append(4) #마련되있지 않은 자리에 4를 추가함
numbers

[1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4]

In [39]:
numbers = [1,2,3,4]
num = [5,6]
#numbers를 [1,2,3,4,5,6]으로 만들거나 [1,2,3,4,[5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [44]:
numbers = [1,2,3,4]
num = [5,6]
numbers.extend(num)

numbers

[1, 2, 3, 4, 5, 6]

In [45]:
numbers = [1,2,3,4]
numbers.append('hello')
numbers

[1, 2, 3, 4, 'hello']

In [47]:
numbers = [1,2,3,4]
numbers.extend('hello')
numbers
#문자열의 문자 하나하나를 배열로 받음

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
    -index(찾고자하는 값, 1) : 찾고자하는 값이 1번 인덱스부터 찾아 그 위치를 반환 
    -count(찾고자하는 값) : 찾고자하는 값이 몇번나오는 counter

In [49]:
numbers = [1,2,3,[1,2,3],1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4))) #[1,2,3]을 정수형으로 생각하진 않는다.

2가 몇개인지 : 2
4가 몇개인지 : 0

In [50]:
2 in numbers #numbers안에 2가 있는지 여부

True

In [55]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers.index(2,3) #3번째인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
```
-슬라이싱 [from:to:stop]을 이용 -> 원하는 인덱스의 값 추출
-리스트 컴프리헨션을 이용 -> 원하는 인덱스의 데이터만 추출

In [56]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [58]:
numbers[::2]

[1, 5, 10, 13, 19]

In [62]:
#값이 짝수인 데이터만 추출하고 싶다
result = []
for num in numbers: #[1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)
result
#리스트 컴프리헨션을 모를때

[10, 12, 18, 20]

In [63]:
#리스트 컴프리헨션
result = [num for num in numbers if num%2==0]
result

[10, 12, 18, 20]

In [64]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션)
numbers = [1,3,5,7,9]
result = [num**2 for num in numbers]
result

[1, 9, 25, 49, 81]

In [70]:
#과일의 글자가 5글자 이상인 과일을 추출하세요
fruits = ["orange","apple","mango","kiwi"]
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [76]:
#과일의 글자가 5글자 이상인 과일의 글자수를 출력하시오
fruits = ["orange","apple","mango","kiwi"]
[len(f) for f in fruits if len(f)>=5]

[6, 5, 5]

## 1.6 삭제하기 
- remove(data) : 해당 data가 제거
- del 리스트변수[idx] : idx번째 요소 제거
- pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [78]:
numbers = [1,2,3,4]
numbers.pop() #뽑은 숫자가 리턴되기 때문에 화면에 출력됨

4

In [79]:
numbers

[1, 2, 3]

In [80]:
numbers.remove(2) #없는 데이터 remove시 에러 발생

In [81]:
numbers

[1, 3]

In [83]:
numbers = [1,2,3,4]

del numbers[3]

In [84]:
numbers

[1, 2, 3]

In [85]:
del numbers

In [86]:
numbers

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [93]:
numbers = [100,50,75,25,30,30,65]
numbers.sort()
numbers

[25, 30, 30, 50, 65, 75, 100]

In [94]:
numbers = [100,50,75,25,30,30,65]
numbers.sort(reverse=True)#내림차순 정렬
numbers

[100, 75, 65, 50, 30, 30, 25]

## 1.8리스트 복제

In [97]:
#얉은 복사
numbers = [6,1,2] 
new_numbers = numbers; #얉은 복사 numbers, new-numbers 모두 값이 들어가 있는 주소값을 값으로 받고 가리킨다.
numbers.sort()
print("정렬 전 데이터:", new_numbers)
print("정렬 전 데이터:", numbers)
#같은 번지수를 가리키고 있기 때문에 numbers를 정렬하면 같은 곳을 가리키기 때문에 같은 데이터 값이 출력된다.

정렬 전 데이터: [1, 2, 6]
정렬 전 데이터: [1, 2, 6]

In [98]:
#깊은 복사
numbers = [6,1,2] 
new_numbers = numbers.copy(); #new_number는 새로운 주소값을 할당하고, numbers에 들어있는 새로생긴 배열에 할당한다.
numbers.sort()
print("정렬 전 데이터:", new_numbers)
print("정렬 전 데이터:", numbers)

정렬 전 데이터: [6, 1, 2]
정렬 전 데이터: [1, 2, 6]

# 2. 튜플

```
- 리스트와 유사하지만 읽기전용
- () 이용해서 생성
- 수정 불가

In [102]:
city = ('서울','부산','광주','울산')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '울산')

In [104]:
''.join(city)

'서울부산광주울산'

In [106]:
list_ = ['서울']
type(list_)

list

In [109]:
t = ("서울")
type(t)

str

In [108]:
t = ("서울",)#요소가 하나인 튜플은 뒤에 ,가 필요하다.
type(t)

tuple

# 3. 딕셔너리
- 구조체와 유사
- {}를 이용해서 생성. key-value쌍으로 구성
- 값은 중복이 가능하나 key는 중복이 불가능하다.
- index를 이용한 참조 불가. -> index가 없음
- 수정가능

In [110]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}

In [111]:
print(type(dic))

<class 'dict'>

In [112]:
dic['name']#value에 access할때 ''를 무조건 넣어줘야함

'홍길동'

In [113]:
dic['address']

'서울시 금천구'

In [114]:
dic['name'],dic['address']# 자동으로 튜플로 인식하여 괄호가 생김

('홍길동', '서울시 금천구')

In [115]:
dic['score'] #없는 key는 당연히 error

KeyError: 'score'

In [117]:
dic.get('name'),dic.get('address'),dic.get('score') #없는 데이터는 None으로 뿌려짐

('홍길동', '서울시 금천구', None)

In [118]:
#수정
dic['score']= 100
dic['age'] = 25
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'age': 25}

In [120]:
#제거
dic.pop('age')

25

In [121]:
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [123]:
for data in dic:
    print(data) #key만 출력

name
address
score

In [126]:
for idx,value in enumerate(dic):
 
    print(idx,value) #리스트 방식으로는 키와 값을 모두 접근할 수 없음

0 name
1 address
2 score

In [136]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [133]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [135]:
dic.items() #dic에서 키와 밸류를 모두 접근하기위해 사용하는 함수

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [134]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [138]:
for key, value in dic.items():
    print(key,value)

name 홍길동
address 서울시 금천구
score 100

In [140]:
l = ['a','b','c']
'c' in l

True

In [142]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
'name' in dic

True

In [144]:
'홍길동' in dic #dictionary에서는 in은 key값의 데이터를 취급한다.

False

# 4. 셋
-중복을 허용하지 않는 집합(순서x = 인덱스x)

In [151]:
fruits = {'apple','orange','banana','banana',0,0,'악'}
print(fruits) #중복되어있는 데이터가 사라짐
print(type(fruits))

{0, '악', 'orange', 'banana', 'apple'}
<class 'set'>

In [152]:
fruits.add('kiwi')
print(fruits)

{0, '악', 'kiwi', 'orange', 'banana', 'apple'}

In [153]:
fruits.add('banana')
print(fruits) #중복 허용 x

{0, '악', 'kiwi', 'orange', 'banana', 'apple'}

In [155]:
for i, value in enumerate(fruits):
    print("{}\t{}".format(i,value)) #index가 없기 때문에 내가 입력한 데이터 순이 아니다

0	0
1	악
2	kiwi
3	orange
4	banana
5	apple

In [156]:
for data in fruits:
    print(data)

0
악
kiwi
orange
banana
apple

In [157]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)

In [158]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [159]:
data = [200,300,400,500]
numbers.append(data)

In [160]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, [200, 300, 400, 500]]

In [161]:
numbers[0:4]

[1, 2, 3, 4]

In [163]:
numbers[0::2]

[1, 3, 5, 7, 9, 100]

In [169]:

result = []
result = [num for num in numbers if num%2==0]
result

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [170]:
numbers[::-1]

[[200, 300, 400, 500], 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [186]:
member = {'name':'홍길동,"age":20','address':'서울시 금천구','score':'90'}

In [187]:
print(dic['address'])

서울시 금천구

In [188]:
print(dic['score'])

KeyError: 'score'

In [185]:
del dic['score']

KeyError: 'score'