ch04. 제어문

-if문, for-in문, while문

## 1. if문

In [30]:
#점수를 입력받아 학점출력
name = 'hong'
score =int(input(name +' Enter your score >>')) #이럴 경우는 어쩔 수 없이 이 형태로 출력
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B' #들여쓰기 유의하자
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = '유효하지 않은 점수'
print("입력하신 점수는 {}점이고, 등급은 {}등급입니다.".format(score,grade))

hong Enter your score >> 65

입력하신 점수는 65점이고, 등급은 D등급입니다.

# 2. for - in 문
```
for 변수 in 나열이가능한 자료형:
    반복할 문장1
    반복할 문장2  들여쓰기에 유의하자
else:  변수에 값이 할당되지 않은 경우 한번 실행할 문장 /else구문은 선택사항
       for문 안에 break가 있을 경우 else블럭 수행되지 않음   
```

In [15]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [18]:
for i in range(1,10,2):
    print(i, end='\t')
else : 
    print("\nDone")
print("END")

1	3	5	7	9
Done
END

In [21]:
for i in range(1,10,2):
    print(i) #end = \t가 아니면 default로 end='\n'할당
else : 
    print("Done")
print("END")

1
3
5
7
9
Done
END

In [22]:
for i in range(1,10,2):
    print(i,"입니다") #end = \t가 아니면 default로 end='\n'할당
else : 
    print("Done")
print("END")

1 입니다
3 입니다
5 입니다
7 입니다
9 입니다
Done
END

In [29]:
# 1~100까지 짝수의 합을 계산하고 출력하시오
sum = 0
for num in range(1,101):
    if num%2==0:
        sum += num
print("1부터 100까지의 짝수의 합은?",sum)

1부터 100까지의 짝수의 합은? 2550

# 3. while문
```
while 조건:
    반복문장 1
    반복문장 2
else:
    조건이 거짓일 경우 한번 수행할 문장(else 선택사항)
    break를 통해 빠져 나올때는 else블럭은 수행하지 않음
```

In [35]:
#사용자에게 두수를 입력받아 첫번째(작은수)수부터 두번째(큰수)입력한 수까지 홀 수의 합을 누적합니다.
num1 = int(input("첫번째 정수를 입력하세요"))
num2 = int(input("첫번째 정수보다 큰 정수를 입력하세요"))
sum = 0 #누적변수
while(num1):
    if(num1%2==1):
        sum += num

    num1 +=1
    if(num1==num2):
        break;
print(sum)

첫번째 정수를 입력하세요 2
첫번째 정수보다 큰 정수를 입력하세요 10

400

In [42]:
#사용자에게 두수를 입력받아 첫번째(작은수)수부터 두번째(큰수)입력한 수까지 홀 수의 합을 누적합니다.
n1 = int(input("첫번째 정수를 입력하세요"))
n2 = int(input("첫번째 정수보다 큰 정수를 입력하세요"))
sum = 0 #누적변수
i = n1;
while(i<=n2):
    if i%2 != 0: #(i%2==1)|(i%2==-1): #i%2 != 0
        sum += i
    i += 1   
    
print("{}부터 {}까지 누적합은 {}입니다".format(n1,n2,sum))

첫번째 정수를 입력하세요 1
첫번째 정수보다 큰 정수를 입력하세요 5

1부터 5까지 누적합은 9입니다

# 4. break, continue

In [46]:
num = 0
while num <= 10:
    num += 1
    if num == 3:
        break;
    print("num={}".format(num),end='\t')

num=1	num=2

In [48]:
num = 0
while num <= 10:
    num += 1
    if num == 3:
        continue;
    print("num={}".format(num),end='\t')

num=1	num=2	num=4	num=5	num=6	num=7	num=8	num=9	num=10	num=11

# 5. 이중 loop

In [50]:
for i in range(1,10):
    for j in range (2,10):
        print("{} x {} = {:>2}\t".format(j,i,i*j),end='') # end='' 키워드 인수
    print() #개행용도

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5	6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# 연습문제

In [105]:
# 1~100까지 컴퓨터가 발생한 난수 알아맞추기(최소값과 최대값을 줄여가며 범위 출력)
import random
random.seed(7) #
rand = random.randint(1,100) #1~100 난수 발생

max = 100
min = 1


for i in range(5,0,-1):
    print("({}번 남았습니다.)".format(i))
    print("{}~{}사이의 숫자를 넣어주세요".format(min,max))
    
    num = int(input("숫자를 입력해주세요"))
    if (num > max) | (num < min):
        print("잘못된 입력입니다 {}~{} 사이의 숫자를 넣어주세요".format(min,max))
    elif num>rand:
        print("숫자가 더 큽니다. Down")
        max = num - 1
    elif num<rand:
        print("숫자가 더 작습니다 up")
        min = num + 1
    elif num == rand:
        print("정답입니다.")
        print("축하합니다. {}번 만에 맞췄습니다.".format(6-i)) 
        break
else:
    print("기회를 모두 사용하였습니다.")

5번 남았습니다.
1~100사이의 숫자를 넣어주세요

숫자를 입력해주세요 5

숫자가 더 작습니다 up
4번 남았습니다.
6~100사이의 숫자를 넣어주세요

숫자를 입력해주세요 4

잘못된 입력입니다 6~100 사이의 숫자를 넣어주세요
3번 남았습니다.
6~100사이의 숫자를 넣어주세요

숫자를 입력해주세요 42

정답입니다.
축하합니다. 3번 만에 맞췄습니다.

In [100]:
# 2. 중복되지 않은 로또 번호를 오름차순 정렬하여 출력하시오
# (set.add())
# 정렬시에는 list.sort함수 이용
# while 이용 

import random
random.seed(7) #
rand = {}
num = 0

while(len(rand)):
    num = (random.randint(1,100))
    rand.add(num)
    
    if len(rand) == 6:
        break
            
print(rand)

{}