ch 5 함수
- 반복해서 사용할 코드를 묶어서 구현해 놓은 것
- 같은 이름의 함수는 덮어씀(오버로딩 불가능)
- 함수 정의(구현)
- ```
    def 함수명([매개변수1,매개변수2,...]):
        명령어1
        명령어2
        ...
  ```

# 1. 함수의 정의 및 사용 (호출)
## 1.1 함수 정의

In [1]:
def my_hello(x,msg): #함수 정의
    for i in range(x):
        print(i,msg)

In [3]:
my_hello(4,"쉬는시간입니다")

0 쉬는시간입니다
1 쉬는시간입니다
2 쉬는시간입니다
3 쉬는시간입니다

In [4]:
type(my_hello)

function

In [5]:
my_hello = 10
type(my_hello)

int

In [7]:
my_hello(4,"") #python에서 함수는 변수다.

TypeError: 'int' object is not callable

In [8]:
def my_hello(x):
    for i in range(x):
        print(i,"함수는 복습 필수")

In [10]:
my_hello(4) #반드시 덮어쓴다. (오버로딩)

0 함수는 복습 필수
1 함수는 복습 필수
2 함수는 복습 필수
3 함수는 복습 필수

In [12]:
print("1","2","3") #하지만 같은 함수인 print는 왜 매개변수가 1, 2, 3..n개 일 때 모두 출력되는가 ?

1 2 3

In [15]:
def my_add(num1, num2, num3 = 0): # num3은 기본값을 갖는 인수 / default
    return num1 + num2 + num3 
print(my_add(1,2,3))
print(my_add(1,2))

6
3

In [14]:
def my_add(num1, num2=0, num3): # num2 에 default
    return num1 + num2 + num3 #기본 값을 갖지 않는 인수 => 순서인수 
print(my_add(1,2,3)) #기본 값을 갖는 인수는 순서인수 뒤에 와야함 -> 에러 발생
print(my_add(1,2))

SyntaxError: parameter without a default follows parameter with a default (1355680271.py, line 1)

## 1.2 docstring
-함수 도움말 shift + tab

In [19]:
def fibonacci(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력합니다.

    ex.매개변수 10 : 0, 1, 1, 2, 3, 5, 8
    ex.매개변수 5 : 0, 1, 1, 2, 3, 5
    
    

    '''
    a,b = 0,1 #(a,b) = (0,1)  내부적 튜플로 처리
    while a<n:
        print(a, end='.')
        a,b = b, a+b
    print() #개행

In [24]:
fibonacci(1000000000000000000000000)

0.1.1.2.3.5.8.13.21.34.55.89.144.233.377.610.987.1597.2584.4181.6765.10946.17711.28657.46368.75025.121393.196418.317811.514229.832040.1346269.2178309.3524578.5702887.9227465.14930352.24157817.39088169.63245986.102334155.165580141.267914296.433494437.701408733.1134903170.1836311903.2971215073.4807526976.7778742049.12586269025.20365011074.32951280099.53316291173.86267571272.139583862445.225851433717.365435296162.591286729879.956722026041.1548008755920.2504730781961.4052739537881.6557470319842.10610209857723.17167680177565.27777890035288.44945570212853.72723460248141.117669030460994.190392490709135.308061521170129.498454011879264.806515533049393.1304969544928657.2111485077978050.3416454622906707.5527939700884757.8944394323791464.14472334024676221.23416728348467685.37889062373143906.61305790721611591.99194853094755497.160500643816367088.259695496911122585.420196140727489673.679891637638612258.1100087778366101931.1779979416004714189.2880067194370816120.4660046610375530309.7540113804746346429.12200160415121876738.19740274219868223167.31940434634990099905.51680708854858323072.83621143489848422977.135301852344706746049.218922995834555169026.354224848179261915075.573147844013817084101.927372692193078999176.1500520536206896083277.2427893228399975082453.3928413764606871165730.6356306993006846248183.10284720757613717413913.16641027750620563662096.26925748508234281076009.43566776258854844738105.70492524767089125814114.114059301025943970552219.184551825793033096366333.298611126818977066918552.483162952612010163284885.781774079430987230203437.

In [25]:
type(fibonacci)

function

In [27]:
fibonacci #function 객체

In [30]:
if __name__=='__main__': #함수가 잘 만들어졌는지 확인하는 용도
    fibonacci(100)

0.1.1.2.3.5.8.13.21.34.55.89.

In [35]:
import fibonacci as fibo #같은 폴더에 fibonacci.py가 해석되서 메모리에 로드, 길면 줄일 수 있음
fibonacci.fibonacci(100)

0.1.1.2.3.5.8.13.21.34.55.89.

## 1.3 지역변수(local var)와 전역변수(global var)

In [37]:
global_var = 100 #전역변수, 커널을 끄기 전까지 셀 어디든지 사용가능
def func1():
    print(global_var)
func1()
print(global_var)

100
100

In [38]:
#지역변수는 함수 안에서만 사용 가능, 벗어나면 사용할 수 없음
def func2():
    local_var = 100
    print(local_var)
func2()

100

In [40]:
local_var #지역변수를 함수 밖에서 호출하려해서 부를 수 없음

NameError: name 'local_var' is not defined

In [45]:
g_var = 100 #전역변수
def func3():
    
    g_var = 200 #지역변수, 새로운 변수 
    print(g_var)
    
func3()

200

In [46]:
print(g_var)

100

## 1.4 Lexical 특성

In [47]:
g_var = 100 #전역변수
def func3():
    print(g_var) #컴파일러는 선언부를 먼저 컴파일한다.
    g_var = 200 #지역변수, 새로운 변수 
    print(g_var)
func3()

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.5 전역변수 수정

In [55]:
#지역변수를 전역변수로 수정할 수 있음.
g_var = 100
def func3():
    global g_var #함수내에서의 g_var 전역변수를 쓸거야
    print(g_var) 
    g_var = 200 #전역변수의 값을 할당 
    print(g_var)
func3()

100
200

In [49]:
g_var

200

## 1.6 값에 의한 호출 (call by value)
-함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [56]:
foo = 'ab' #스칼라 변수
id(foo)

1635264084896

In [58]:
def func1(f):
    print("Before : {}의 주소는 {}".format(f,id(f)))
    f *= 3 # 매개변수는 지역변수 / call by value가 되어 주소가 다름
    print("After : {}의 주소는 {}".format(f,id(f))) 
func1(foo)
print("함수 호출 foo : {}의 주소는 {}".format(foo, id(foo)))

Before : ab의 주소는 1635264084896
After : ababab의 주소는 1635315700560
함수 호출 foo : ab의 주소는 1635264084896

## 1.7 참조에 의한 호출 (call by reference)
-함수에 전달되는 인수가 리스트, 딕셔너리, 셋일 경우

In [59]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L,id(L)))

L의 내용은 [1, 2, 3], 주소는 1635325957504

In [60]:
def func2(f): #스칼라 변수가 아닐 경우 call by reference
    print("함수 내 before : L의 내용은 {}, 주소는 {}".format(L,id(L)))
    f.append(4) 
    print("함수 내 after : L의 내용은 {}, 주소는 {}".format(L,id(L)))
    
func2(L)
print("L의 내용은 {}, 주소는 {}".format(L,id(L)))

함수 내 before : L의 내용은 [1, 2, 3], 주소는 1635325957504
함수 내 after : L의 내용은 [1, 2, 3, 4], 주소는 1635325957504
L의 내용은 [1, 2, 3, 4], 주소는 1635325957504

# 2. 함수의 실행결과를 반환하는 return
-여러 개의 값을 반환할 수 있다.(하나의 튜플로 반환)

In [61]:
# 여러값을 return
def swap(a,b):
    """
    함수설명~
    """
    return b,a

In [63]:
x,y = 5,10
print("함수 실행 전 x = {}, y= {}".format(x,y))
x,y = swap(x,y) # swap(x,y) => (10,5) 튜플로 반환이 됨
print("함수 실행 후 x = {}, y= {}".format(x,y))

함수 실행 전 x = 5, y= 10
함수 실행 후 x = 10, y= 5

# 3. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [64]:
def make_url(ip,port=80): #순서인수 > 기본값을 갖는 인수 순으로 (키워드인수 아님)
    return "http://{}:{}".format(ip, port) #반드시 port = 식으로 해야 키워드 인수임

In [68]:
print(make_url("localhost"))
print(make_url("localhost",8090))
print(make_url(port=8090,ip="localhost"))

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수로 이용한 가변인수(인수갯수가 가변)설정

In [69]:
print('Hello','world') #인수의 갯수가 가변

Hello world

In [78]:
# args 앞에 * : args가 튜플로 전달 
def add(*args):
    print("전달받은 args :",args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [73]:
add((1,2,3)) # *이 없으면 튜플을 붙여줘야함

전달받은 args : (1, 2, 3)
<class 'tuple'>

In [84]:
add(1,2,3,4,5,6) # * 자동적으로 괄호가 생기면서 args를 튜플로 받는다. -> 가변 매개변수 가능
add(1,2,3,4,5) 
add(1,2,3) 
add(1) #튜플로 인식하게 ,

전달받은 args : (1, 2, 3, 4, 5, 6)
<class 'tuple'>
전달받은 args : (1, 2, 3, 4, 5)
<class 'tuple'>
전달받은 args : (1, 2, 3)
<class 'tuple'>
전달받은 args : (1,)
<class 'tuple'>

1

In [87]:
def concat(*args, sep):
    return sep.join(args)

In [ ]:
concat("C","Python","Oracle","~")
# => C~Python~Oracle

In [88]:
# 해결책 1 (추천x)
concat("C","Python","Oracle",sep = "~") #print와 비슷한

'C~Python~Oracle'

In [89]:
#해결책 2 
def concat(sep,*args): #순서인수 > 튜플인수 순서인수를 먼저 넣고 나면 나머지는 모두 튜플인수로 들어간다.
    return sep.join(args)

In [91]:
concat("~","C","Python","Oracle")
# => C~Python~Oracle

'C~Python~Oracle'

In [94]:
#해결책 3 
def concat(*args, sep='/'): #기본값을 갖는 키워드 인수 / 튜플 인수 앞에 쓰면 안됨
    return sep.join(args)   # 순서 (중요) : 순서인수 > 튜플인수 > 키워드인수 (기본값을갖는매개변수) 
                            # 키워드인수란? 키워드로 sep=''로 넣지 않으면 오류 발생 => 키워드 인수

In [95]:
concat("C","Python","Oracle",sep = "~") #키워드 인수

# => C~Python~Oracleconcat

'C~Python~Oracle'

## 3.3 딕셔너리 매개변수

In [100]:
def func(**args): # args 딕셔너리로 전달
#    print(args)
#    print(type(args))
# dic = {"name":'홍길동',"age":"20"}
func(name="홍길동",age="20") #키워드 인수와 비슷한 느낌   #자동으로 딕셔너리 처럼 바꿔준다.

{'name': '홍길동', 'age': '20'}
<class 'dict'>

In [105]:
def func(**args): # args 딕셔너리로 전달

    for key,value in args.items():
        print("{}:{}".format(key,value))

In [106]:
func(gameName = "서바이벌C",year=2024,price=30000)

gameName:서바이벌C
year:2024
price:30000

## 3.4 함수 정의시 매개변수의 순서
-순서인수 > 튜플인수(*) > 키워드인수(기본값만 받는 인수가 아님/매개변수이름을 반드시 명시해야하는 인수)> 딕셔너리인수(**)

In [107]:
def func(a,b,c,*d,e = 10,**f):
    print('a =',a)
    print('b =',b)
    print('c =',c)
    print('d =',d)
    print('e =',e)
    print('f =',f)

In [108]:
func(10,20,30,1,2,3,4,5,e=100,height = 180,name='홍길동',address='서울시')

a = 10
b = 20
c = 30
d = (1, 2, 3, 4, 5)
e = 100
f = {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
-튜플 인수 언패킹

In [118]:
# args 앞에 * : args가 튜플로 전달 
def add(*args):
    print("전달받은 args :",args)
    print(type(args))
    sum = 0
    for num in args:
        sum += num;
    return sum

In [120]:
add(1,2,3) #패킹

전달받은 args : (1, 2, 3)
<class 'tuple'>

6

In [111]:
data = (1,2,3,4,5,6)
#add(data) => add(((1,2,3))) 튜플이 두개 생김
add(*data) # => add(1,2,3) 튜플변수의 언패킹

전달받은 args : (1, 2, 3, 4, 5, 6)
<class 'tuple'>

21

## 3.6 딕셔너리 인수 언패킹

In [117]:
def func(**args): # args 딕셔너리로 전달

    for key,value in args.items():
        print("{}:{}".format(key,value))

In [119]:
dic = {"name":"홍길동","age":30}
func(**dic) # func(dic) => 에러 발생 => 딕셔너리 인수 언패킹

name:홍길동
age:30

# 4. 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- ex. map(), filter()에서 사용할 예정

In [121]:
# 일반함수
def add(a,b):
    return a+b
add(3,5)

8

In [122]:
type(add)

function

In [123]:
# 람다식
add = lambda a,b : a + b #람다식을 나타내는 예약어 변수에 대입하려고 쓰는 용도가 아님

In [124]:
add(5,5)

10

In [125]:
type(add)

function

In [127]:
(lambda a,b : a * b)(5,6) #매개변수로 함수를 쓰기 위해 사용

30

## *매개변수로 람다식 이용

In [128]:
f = lambda x : x**2
f(3) #테스트 하기위해 변수에 담음

9

In [130]:
def map_template(func,L=[]): #순서인수 , 기본값을 갖는 인수(리스트)
    result = []
    for data in L:
        result.append(func(data))
    return result

In [131]:
list_data = [1,2,3,4,5]
map_template(lambda x:x**2,list_data) # map_template(f,list_data)

[1, 4, 9, 16, 25]

In [134]:
#map_template 와 비슷한 동작을 하는 함수 import 하지 않고도 사용할 수 있게 되있음 -> map
# -> 데이터가 너무 많고 복잡할  시 이용
list(map(lambda x:x**2,list_data))

[1, 4, 9, 16, 25]

In [138]:
#리스트 컴프리헨션 ->  간단한 데이터에서 이용
[x**2 for x in list_data]

[1, 4, 9, 16, 25]

In [137]:
list_data = [1,2,3,4,5]

In [139]:
#필터 함수 논리
def filter_template(func,L = []):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [140]:
filter_template(lambda x:x%2==0,list_data)

[2, 4]

In [141]:
list(filter(lambda x:x%2==0,list_data))

[2, 4]

In [142]:
# 리스트컴프리헨션 이용 -> 필터
[x for x in list_data if x%2==0]

[2, 4]

# 5. 파이썬 내장함수
- print처럼 import없이 바로 즉시 사용 가능한 함수

# 연습문제

In [144]:
# 1. 함수의인자로리스트를받은후, 리스트내에있는모든정수값에대하여 최대값과 최소값을 return하는 함수 get_max_min(data_list)를 구현하고 호출하시오.

In [145]:
# 2. 1~45 사이의 로또번호 6개를 반환하는 make_lotto()함수를 정의하고 호출하시오.

In [ ]:
3. 369 게임은 숫자에 3,6,9가 들어가면 박수를치고, 나머지는 숫자는 그대로 이야기하는 게임이다. 369 게임을 시뮬레이션 하는 함수를 정의하라.
 ```
 1단계: game_369([1,2,3,4,5,6,7,8,9,13,20,33])- 결과: [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’]
 2단계: game_369(1,2,3,4,5,6,7,8,9,13,20,33) #튜플인수이용- 결과: [1,2, ‘짝’, 4,5, ‘짝’,7,8, ‘짝’, ‘짝’, 20,‘짝짝’] 
 ```