ch 09 파일 입출력

# 1. 파일에 데이터를 저장하고 불러오기
입력 스트림은 입력만, 출력 스트림은 출력만 가능하다.

In [12]:
# w : 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성
# a : 있는 파일은 추가 / 없는 파일은 
# r : 읽기 전용
f = open('data/ch09.txt','a') #새롭게 파일을 하나 만들어서 스트림 연결  w (출력)모드 -> read는 불가능
print(f.writable())           # encoding 기본값 CP949

True

In [13]:
f.write('Hello\nworld\nHello\nPython\n') # 한글은 CP949
f.write('여러번 write 가능\n')
# close를 하지 않으면 텍스트가 추가되지 않음
f.close()

In [14]:
with open('data/ch09.txt','r') as f:
    data = f.readlines()
    print(data)

['Hello\n', 'world\n', 'Hello\n', 'Python\n', '여러번 write 가능\n', 'Hello\n', 'world\n', 'Hello\n', 'Python\n', '여러번 write 가능\n']

In [15]:
with open('data/ch09.txt','w') as f:
    print('Python is easy\n',file=f)

In [10]:
# UTF-8 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv','r',encoding = 'utf-8') as f:
    data = f.readlines()
    for row in data:
        print(row,end='')

홍길동,20,hong@hong.com,서울시 강동구
윤길서,31,yun@hong.com,서울시 강서구
양길남,31,yang@hong.com,서울시 강남구
이길북,26,lee@hong.com,서울시 강서구
김길동,31,kimk@hong.com,서울시 강북구

In [12]:
import pandas as pd
member1 = pd.read_csv("data/ch09_member1.csv")
member1.columns=['이름','나이','이메일','주소']
member1

    이름  나이            이메일       주소
0  윤길서  31   yun@hong.com  서울시 강서구
1  양길남  31  yang@hong.com  서울시 강남구
2  이길북  26   lee@hong.com  서울시 강서구
3  김길동  31  kimk@hong.com  서울시 강북구

In [20]:
import pandas as pd
member1 = pd.read_csv("data/ch09_member1.csv")
member1.columns=['name','age','email','address']
member1

  name  age          email  address
0  윤길서   31   yun@hong.com  서울시 강서구
1  양길남   31  yang@hong.com  서울시 강남구
2  이길북   26   lee@hong.com  서울시 강서구
3  김길동   31  kimk@hong.com  서울시 강북구

In [21]:
type(member1)

pandas.core.frame.DataFrame

In [18]:
member2 = pd.read_csv('data/ch09_member2.csv',nrows=3)

In [19]:
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  윤길서   31   yun@hong.com  서울시 강서구
2  양길남   31  yang@hong.com  서울시 강남구

In [25]:
member = pd.concat([member1,member2])
member

  name  age          email  address
0  윤길서   31   yun@hong.com  서울시 강서구
1  양길남   31  yang@hong.com  서울시 강남구
2  이길북   26   lee@hong.com  서울시 강서구
3  김길동   31  kimk@hong.com  서울시 강북구
0  홍길동   20  hong@hong.com  서울시 강동구
1  윤길서   31   yun@hong.com  서울시 강서구
2  양길남   31  yang@hong.com  서울시 강남구

In [26]:
member.to_csv('data/ch09_member.csv',index=False)