ch03. 데이터 구조
리스트 [], 튜플 (), 딕셔너리{구조체와 유사}, 셋(집합)

# 1. 리스트
## 
1.1 리스트 만들
- [] 이용- 
인덱스 :0부터 시작. -1은 맨 마지막 인덱스- 
슬라이싱([from:to:Step])을 이용하여 추출기

In [4]:
fruits = ['banana', 'apple','orange','grape',0]
type(fruits)

list

In [6]:
print(fruits)

['banana', 'apple', 'orange', 'grape', 0]

In [8]:
print(fruits[0])

banana

In [10]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [12]:
# ★
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [16]:
range(5)

range(0, 5)

In [18]:
len(fruits) # list fruits 요소의 갯수

5

In [20]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [26]:
for fruit in range(len(fruits)):
    print("{}번째 과일은 {}".format(fruit, fruits[fruit]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

In [28]:
# ★
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

## 1.2 기본정보 조회

In [31]:
numbers = [1,2,3,4,5]
print("요소의 수 :", len(numbers))
print("최소값 :", min(numbers))
print("최대값 :", max(numbers))

요소의 수 : 5
최소값 : 1
최대값 : 5

## 1.3 요소 추가
- + 두 리스트를 연결-  리스트*n : 리스트를 n만큼 반복- # append() : 요소 뒤에 
- 
# extend() : 리스트의 요소별로 뒤에 추가

In [34]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [36]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
numbers.append(4)

In [40]:
numbers

[1, 2, 3, 4]

In [42]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [44]:
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [46]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [48]:
numbers = [1,2,3,4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
```
index(찾고자하는 값, 1) : 찾고자하는 값이 1번인덱스부터 찾아 그 위치를 반환
count(찾고자하는 값) : 찾고자하는 값이 몇번나오는지 counter

In [53]:
numbers = [1,2,3, [1,2,3], 1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))
print("4가 몇개인지 : {}".format(numbers.count(4)))

2가 몇개인지 : 2
4가 몇개인지 : 0

In [55]:
2 in numbers # numbers안에 2가 있는지 여부

True

In [59]:
numbers.index(2, ) #3번째인덱스부터 2가 처음 나오는 인덱스를 반환

1

## 1.5 리스트의 원하는 내용만 추출
```
슬라이싱 [from:to:step]을 이용 ; 원하는 인덱스의 값 추출
리스트 컴프리헨션을 이용 ; 원하는 데이터만 추출

In [65]:
numbers  = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [67]:
numbers[::2] # 인덱스가 짝수인 값을 추출

[1, 5, 10, 13, 19]

In [69]:
# 값이 짝수인 데이터만 추출
result = []
for num in numbers: #[1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)
result

[10, 12, 18, 20]

In [75]:
#리스트 컴프리헨션
result = [2*num for num in numbers if num%2==0]
result

[20, 24, 36, 40]

In [77]:
# numbers 리스트의 제곱값을 리스트로 생성하여라(컴프리헨션이용)
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [79]:
# 과일의 글자가 5글자 이상인 과일 추출하세요
fruits = ["orange","apple", "mango","kiwi"]
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [81]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요
[len(f) for f in fruits if len(f)>=5]

[6, 5, 5]

## 1.6 삭제하기
```
remove(data) : 해당 data가 제거
del 리스트변수[idx] : idx번째 요소 제거
pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [85]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [87]:
numbers.remove(1)
print(numbers)

[2, 3]

In [89]:
numbers.remove(9) #없는 데이터 remove시 에러

ValueError: list.remove(x): x not in list

In [91]:
del numbers[0]
print(numbers)

[3]

In [93]:
del numbers

In [95]:
numbers

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [98]:
numbers = [9,10,1,5,5]
numbers.sort() #오름차순 정렬
numbers

[1, 5, 5, 9, 10]

In [100]:
numbers = [9,10,1,5,5]
numbers.sort(reverse=True) #내림차순 정렬
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [103]:
numbers = [6,1,2]
new_numbers = numbers; # 얕은 복사
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬후 데이터 :', numbers)

정렬전 데이터 : [1, 2, 6]
정렬후 데이터 : [1, 2, 6]

In [106]:

numbers = [6,1,2]
new_numbers = numbers.copy(); # 깊은 복사
numbers.sort()
print('정렬전 데이터 :', new_numbers)
print('정렬후 데이터 :', numbers)

정렬전 데이터 : [6, 1, 2]
정렬후 데이터 : [1, 2, 6]

## 2. 튜플
- 리스트와 유사하지만 읽기전용- 
() 이용해서 생성

In [109]:
city = ('서울','부산','광주','대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [111]:
'~'.join(city)

'서울~부산~광주~대전'

In [113]:
list_ = ['서울']
type(list_)

list

In [115]:
t = ('서울', ) #요소가 하나인 튜플은 뒤에 컴마(,) 필수
type(t)

tuple

## 3절 딕셔너리```
구조체와 유사사- 
{}를 이용해서 생성. key-value쌍으로 구- 성
value(값)은 중복 가능하나 key는 중복 - 불가
index를 이용한 참조 불가

In [125]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [127]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [129]:
dic['score']

KeyError: 'score'

In [133]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [137]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [139]:
dic.pop('sport')

'sleep'

In [141]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

In [143]:
# 리스트(튜플, 셋)방식으로 for문 사용하면 key만 출력
for key in dic:
    print(key)
for idx, value in enumerate(dic):
    print(idx, value)

name
address
score
0 name
1 address
2 score

In [145]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [149]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [151]:
dic.items() # ★★★★★

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [153]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [155]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

In [157]:
l = ['a','b','c']
'c' in l

True

In [159]:
dic = {'name':'홍길동', 'score':100}
'name' in dic

True

In [161]:
'홍길동' in dic

False

In [163]:
len(dic) #데이터 갯수

2

## 4. 셋
- 중복을 허용하지 않는 집합(순서x = 인덱스x)

In [166]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0}
print(fruits)
print(type(fruits))

{'orange', 'banana', 'apple', 0}
<class 'set'>

In [168]:
fruits.add('kiwi')
print(fruits)

{'orange', 'banana', 0, 'kiwi', 'apple'}

In [170]:
fruits.add('banana')
print(fruits)

{'orange', 'banana', 0, 'kiwi', 'apple'}

In [172]:
for i, value in enumerate(fruits):
    print("{}:{}".format(i, value))

0:orange
1:banana
2:0
3:kiwi
4:apple

In [174]:
for data in fruits:
    print(data)

orange
banana
0
kiwi
apple

In [252]:
numbers = [1,2,3,4,5,6,7,8,9,10]
# 1. 숫자 100을 맨 뒤에 추가하세요
numbers.append(100)
print("1번 결과 :",numbers)

# 2. 다음 리스트를 numbers리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers = numbers+data
print("2번 결과 :",numbers)

# 3. 처음 다섯 개 숫자만 출력하세요
print("3번 결과 :", numbers[0:5])

# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print("3번 결과 :", numbers[::2])

# 5 짝수번째 데이터를 모두 0으로 바꿔
numbers[::2] = len(numbers[::2])*[0]
print("5번 결과:",numbers)

# 6. 데이터를 역순으로 나열
print("6번 결과:",numbers[::-1])

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
3번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
5번 결과: [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과: [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [294]:
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}
# 7번 address값 출력
print("7번 결과:",member.get('address'))

# 8 score를 출력하고 딕셔너리에서 삭제 방법1
print("score 삭제 및 출력=>",member.pop('score'))
print("확인=>",member)

#9. address변경
member['address']='경기도 군포시'
print("9번 결과:",member)

#10. 데이터 값만 리스트로 출력
print("10번 결과",list(member.values()))

#10. 데이터 값만 리스트로 출력
print("10번 결과",list(member.keys()))

7번 결과: 서울시 금천구
score 삭제 및 출력=> 90
확인=> {'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}
9번 결과: {'name': '홍길동', 'age': 20, 'address': '경기도 군포시'}
10번 결과 ['홍길동', 20, '경기도 군포시']
10번 결과 ['name', 'age', 'address']